.fontColorGood {
    color: green;
}

.fontColorBad {
    color: red;
}

.bgWhite {
    background-color: white;
}

/* #region content */
.fruitlist_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding: 64px 0;
}
/* #endregion */

/* #region mediaquerys */
@media screen and (max-width: 850px) {
    .singleFruitBox {
        padding-left: 0px;
        padding-top: 200px;
        flex-direction: column;

        >div:nth-child(1) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            width: 400px;
            height: 150px;

            >img {
                transform: translate(0px, -150px);
                width: 300px;
            }
        }

        >div:nth-child(2) {
            padding: 16px;
            border-bottom-right-radius: 16px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 16px;
            width: 400px;
            height: 500px;
            flex-direction: column;
        }
    }
}
/* #endregion */